{% extends 'base.html' %}

{% block style %}
.title-style {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}
.box-style {
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.box-style2 {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.label-style {
  font-size: 15px;
}
small {
  font-size: 8px;
}
.form-style {
  width: 100%;
}
.container-style {
  padding-left: 200px;
  padding-right: 200px;
}
{% endblock style %}


{% block content %}
<div class="container container-style">

	<div class="row box-style">
      <div class="title-style">비밀번호 변경</div>

		<div class="col-md-12 box-style2 ml-2">
      <div class="row">
       
          <form action="" method="POST" class="pl-3 form-style">
            {% csrf_token %}
              <label for="oldPassword" class="label-style">기존 비밀번호</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="password" class="form-control" id="oldPassword" name="old_password" aria-describedby="emailHelp" value="{{ form.email.value }}">
                </div>
              </div>
              <label for="newPassword1" class="label-style">새 비밀번호</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="password" class="form-control" id="newPassword1" name="new_password1" aria-describedby="emailHelp" value="{{ form.email.value }}">
                </div>
                <div class="col-md-6">
                  <small id="passwordHelpBlock" class="form-text text-muted">     
                    ※ 비밀번호는 최소 8자 이상이어야 합니다.
                    <br>
                    숫자로만 이루어진 비밀번호는 사용할 수 없습니다.
                  </small>
                </div>
              </div>
              <label for="newPassword2" class="label-style">새 비밀번호 재입력</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="password" class="form-control" id="newPassword2" name="new_password2" aria-describedby="emailHelp" value="{{ form.email.value }}">
                </div>
                <div class="col-md-6">
                  <small id="passwordHelpBlock" class="form-text text-muted">     
                    ※ 비밀번호 확인을 위해 한 번 더 입력해 주시기 바랍니다.
                  </small>                
                </div>
              </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
          </form>     
        
      </div>

		</div>
	</div>
</div>
{% endblock  %}

{% block script %}

{% endblock  %}

{% comment %} 
{% extends 'base.html' %}

{% block content %}
<h1>비밀번호 변경</h1>
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit">
</form>
{% endblock content %} {% endcomment %}