{% extends 'community.html' %}
{% block style %}
  table, td, th {
    color : dark;
		font-size:15px;
    font-family: 'Nanum Gothic Coding', monospace;
		text-overflow :ellipsis;
		oveflow: hidden;
		white-space : nowrap;
  }
	.reviews{
		color:white;
	}
	.modal-button{
		
		border : 0;
		outline : 0;
	}
	.reviewTable{
		width :100%;
		table-layout:fixed;
	}
	button:hover{
		text-decoration: none;
	}
{% endblock style %}

{% block content %}
	<div class="ml-5 col-md-9 bg-dark pt-5" style= "border: none; border-radius: 8px;">
	
  <div class= "reviews d-flex justify-content-between">
	<br>
  <h1>Reviews</h1>
	<button id="createBtn" class="modal-button bg-dark" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit text-white"></i></button>
	</div>

	<!-- modal -->
	<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	{% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> {% endcomment %}
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-dark" id="exampleModalLabel">글 작성</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
					<!-- axios 요청 -->
					<form action="#" method="GET">
						<div class="modal-body">
							<input type="text" name="movie_title" placeholder="Title" id="movie-input" style="font-size: 20px;"> 
						</div>
						<div class="modal-footer">
						<div id="movie-box"></div>
						<br>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="movie-button">검색</button>
						</div>
					</form>
					<!-- -->
			</div>
		</div>
	</div>

    <hr>
	<div class="container-fluid bg-white">
		<div class="row ">
			<div class="col-md-12 p-0"   >
				<table class="table table-striped reviewTable">
					<thead>
						<tr style="background-color: rgb(109, 166, 155);">
							<th style="width:40px;">#</th>
							<th style="width:250px;">Title</th>
							<th>Content</th>
							<th style="width:100px;">Author</th>
						</tr>
					</thead>
					<tbody>
						{% for review in reviews %}
							<tr>
								<td>
									{{review.pk}}
								</td>
								<td>
									<a  href="{%url "community:detail" review.pk review.movie_title%}">
									<span style =" color: black;">{{review.title}} </span>
									</a>
								</td>
								<td>
									<div style = "overflow: hidden;">{{review.content}}</div>
								</td>
								<td>
									{{review.user}}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	</div>
{% endblock content %}

{% block script %}
	<script>
		const BASE_URL = 'http://127.0.0.1:8000'
		const input = document.querySelector('#movie-input')
		const button = document.getElementById('movie-button')
		const movielist = document.querySelector('#movie-box')
		const createBtn = document.querySelector('#createBtn')
		function addMovie(movie){
			console.log(movie.title)
			const title = movie.title
			const movieId = movie.movie_id
			console.log(movieId)
			const a = document.createElement('a')
			a.innerText = title
			a.setAttribute('style', 'color: black;')
			a.setAttribute('class', 'btn')
			a.setAttribute('href', `${BASE_URL}/community/create/${movieId}/`)
			movielist.appendChild(a)
		}

		function movieData(){
			const content = input.value
			axios.get(`${BASE_URL}/community/search_title/${content}`)
				.then(res=>{
					while(movielist.firstChild){
						movielist.removeChild(movielist.firstChild)
					}
					for (let movie in res.data) {
						addMovie(res.data[movie])
					}
				})
		}

		button.addEventListener('click', movieData)
		createBtn.addEventListener('click', ()=>{
			input.value = ""
			while(movielist.firstChild){
						movielist.removeChild(movielist.firstChild)
			}
		})
		input.addEventListener('keypress', function(e){
			if (e.code ==="Enter"){
				movieData()
			} 
		})
	</script>
{% endblock script %}
