{% extends 'base.html' %}

{% block style %}
.container-style {
  background-color: black;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
}
.poster-style {
  width: 160px;
  height: 230px;
}
.movie-title {
  font-size: 14px;
  color: black;
}
.profile-title {
  background-color: white;
  color: black;
  height: 200px;
  margin-top: 80px;
  border-radius: 5px;
}
.title-style {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}
.a-update-style {
  font-size: 15px;
  color: black;
}
.a-review-style {
  font-size: 25px;
  color: black;
  /*font-weight: bold;*/
}
.div-review-style {
  height: 36px;
}
.genre-font-style {
  font-size: 25px;
  /*font-weight: bold;*/
}
.third-box {
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.verticalLine {
  border-right: thin solid black;
}
.vertical-align {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -35%);
}
.font-style {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
}
.box-style {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.label-style {
  font-size: 15px;
}
{% endblock style %}


{% block content %}
<div class="container">

	<div class="row third-box">
      <div class="title-style">회원 정보 수정</div>

		<div class="col-md-12 box-style ml-2">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col">
            <label for="firstName" class="label-style">First name</label>
            <input type="text" class="form-control" id="firstName" name="first_name" value="{{ form.first_name.value }}">
          </div>
          <div class="col">
            <label for="lastName" class="label-style">Last name</label>
            <input type="text" class="form-control" id="lastName" name="last_name" value="{{ form.last_name.value }}">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="label-style">Email</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{ form.email.value }}">
        </div>
        <div><a href="{% url 'accounts:change_password' %}" class="a-update-style p-0">비밀번호 변경 ></a></div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>     

		</div>
	</div>
</div>
{% endblock  %}

{% block script %}

{% endblock  %}