{% extends 'base.html' %}

{% block style %}
  .page-item>a{
    color :black;
  }
  .page-item>a:hover{
    color: rgb(109, 166, 155);
  }
  .wrap {
  height: 100%;
  display: flex;
}

.wrap>a>button {
  width: 110px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(109, 166, 155);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.wrap>a>button:hover {
  background-color: rgb(109, 166, 155);
  box-shadow: 0px 15px 20px rgb(109, 166, 155);
  color: #fff;
  transform: translateY(-7px);
}
.wrap>a {
  padding: 0;
}
{% endblock  %}

{% block content %}
<!-- 장르 검색 -->
  <div class = "container">
    <div class ="row">
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="1"%}">
      <button class="button">액션</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="2"%}"><button class="button">모험</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="3"%}"><button class="button">판타지</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="4"%}"><button class="button">공상과학</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="5"%}"><button class="button">애니메이션</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="6"%}"><button class="button">음악</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="7"%}"><button class="button">TV</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="8"%}"><button class="button">다큐</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="9"%}"><button class="button">드라마</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="10"%}"><button class="button">가족</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="11"%}"><button class="button">코미디</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="12"%}"><button class="button">로맨스</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="13"%}"><button class="button">공포</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="14"%}"><button class="button">미스터리</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="15"%}"><button class="button">범죄</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="16"%}"><button class="button">전쟁</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="17"%}"><button class="button">서부</button></a>
      </span>
      <span class="wrap mt-3 mr-1">
      <a href="{%url 'movies:search_genre' genre="18"%}"><button class="button">역사</button></a>
      </span>
    </div>
  </div>
  <!-- 장르검색 끝-->

<br>

<div class="container">
	<div class="row">
  {% for movie in movies %}
		<div class="col-md-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
        <img src="{{ movie.poster_path }}" class="card-img-top" alt="movie_poster" style="height: 500px">
        <div class="card-header" style="font-size: 80%;">{{ movie.title }}</div>
        <div class="card-body">
          <p class="card-text text-style">{{ movie.overview }}</p>
          <a href="{% url 'movies:detail' movie.pk %}" class="btn button">상세정보</a>
        </div>
      </div>
		</div>
  {% endfor %}
	</div>
</div>
<br>
<ul class="pagination justify-content-center">
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='1' %}">1</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='2' %}">2</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='3' %}">3</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='4' %}">4</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='5' %}">5</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='6' %}">6</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='7' %}">7</a></li>
	<li class="page-item"><a class="page-link" href="{% url 'movies:top_ratedlist' page='8' %}">8</a></li>
</ul>
{% endblock content %}