{% extends 'community.html' %}
{% block style %}
  #info {
    font-size :20px;
  }
  #content{
    width: 1000px;
    height: 300px;
  }
  #buttons {
    margin-top: 0.65em;
    width: 28px;
    height: 32px;
  }
  #user {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  #comment{
    font-size: 25px;
    font-family: sans-serif;
  }
  hr{
    border-top: 2px solid white;
  }
  h4{
    color : white;
    font-weight : bold;
  }
  #id_content{
    height:35px;
  }
  a {
    text-decoration: none;
  }
{% endblock  %}
{% block content %}
  <div class="ml-5 col-md-8 bg-dark pb-4" style= "border: none; border-radius: 8px;">
  <br>
  <!-- 리뷰 내용-->
  <hr>
  <h1 class = "d-flex justify-content-center" >{{ review.title}}</h1>
  <hr>
    <p id="info" class="d-flex justify-content-end mx-5"><i class="far fa-calendar-alt">{{ review.created_at|date:"D d M Y" }}</i></p>
    <p id="info" class="d-flex justify-content-end mx-5"> <i class="far fa-user"> <span>글쓴이: </span>{{ user }}</i></p>
    {% if comments|length %}
      <p id="info" class="d-flex justify-content-end mx-5"><i class="far fa-comment"> {{comments|length}}개의 댓글이 있습니다.</i></p>
    {% else %}
      <p id="info" class="d-flex justify-content-end mx-5"><i class="far fa-comment"> 0개의 댓글이 있습니다.</i></p>
      
    {% endif %}
  <hr>
  <div class = "mx-5 ">
   <p class="mb-0"> <a href="{% url 'movies:detail' movie.pk%}" style="text-decoration: none;">🎬 {{review.movie_title}}</a></p>
   <span>평점:</span>  
    {% for n in rate %}
      <span>⭐</span>
      {% comment %} <i class="fas fa-star"></i> {% endcomment %}
    {% endfor %}
  </div>
    <hr>
  <div class = "d-flex ">
    <div id="content" class="text-white mx-5">
      <br>
      <div> {{ review.content }}</div>
    </div>
  </div>
  <!-- 리뷰 끝-->
 
  <!--버튼-->
  <div class ="d-flex justify-content-around">
    {% if request.user == review.user %}
      <a class="d-flex align-items-center" style="text-decoration: none;" href="{%url 'community:update' review.pk%}">
      <i class="mr-3 fas fa-pen-square "></i></a>
      <form class="d-flex align-items-center"  id ="buttons" action="{% url 'community:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-circle  "><i class="fas fa-trash-alt"></i></button>
      </form>
    {% endif %}
    <a class="d-flex align-items-center" href="{%url 'community:reviews'%}" style="text-decoration: none;"><i class="fas fa-arrow-circle-left"></i></a>
  </div>
  <hr>
  <!-- 댓글-->

  <!-- 리뷰 내용 끝-->
<h4 style="font-size:18px;" class="mx-5"><댓글></h4>
<hr>  
{% for comment in comments %}
  <div>
    <p id ="user" class="ml-5 mb-0 mt-3"> {{ comment.user }} </p>
    <span id ="comment" class="ml-5">{{ comment.content }}</span>
     {% if request.user == comment.user %}
        <form action="{% url 'community:comments_delete' review.pk comment.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark btn-circle"><i class="fas fa-trash-alt" style="font-size: 13px;"></i></button>
        </form> 
      {% endif %}
  </div>
      {% empty %}
    <p style="font-size:15px;" class="ml-5">댓글이 아직 없어요...</p>
  {% endfor %}
  <hr>
  <h4 style="font-size:18px;" class="ml-5">댓글 작성</h4>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comments_create' review.pk %}" method="POST" class="mx-5">
      {% csrf_token %}
      <input name="content" cols="40" rows="10" required="" id="id_content" style="font-size:13px;"></input>
      <button id="submit" name="submit" type="submit" class="btn btn-outline-light">Submit</button>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}" style="font-size:18px; text-decoration: none;" class="ml-5">❗ 댓글을 작성하려면 로그인 하세요.</a>
  {% endif %}
  </div>

{% endblock  %}